{% extends 'layout.html' %}

{% block body %}

  <h1>About Us</h1>
   <div id="aboutus">
   <p>We made this website to help the thousands of people who need blood and provide them with an easy and 
	seemless experience. 
   </p>
   </div>
   <hr>
  
  <h1>Our Mission</h1>
   <div id="aboutus2">
   <p>
	  Our mission is to give our users the ability to
	  search their specific blood type and try to find nearby
	  donors. We also give the ability to contact the donors. Allowing 
	  you to easily find matches near you provides a seamless and 
	  intuitive process. We hope this will make finding donor matches 
	  easier and effective countrywide.
   </p>
   </div>
   <hr>
   <h1>Designers</h1>
   <div id="aboutus2">
   <p>
	 Michael Jones and Mikey Chowyen are both Computer Science majors at Southern Connecticut State University. 
   </p>
   </div>


	<br>
	<br>

	<br>
	<br>
	<br>
	
{% endblock %}