{% extends 'layout.html' %}

{% block body %}
  <div id="head">
	<h2>Blood Facts:</h2>
  </div>
  <div id="facts">
	  <ol>
		<li><p><em>4.5 million Americans will a need blood transfusion each year.</p></li>
		<li><p><em>Someone needs blood every two seconds.</p></li>
		<li><p><em>The average adult has about 10 pints of blood in his body. Roughly 1 pint is given during a donation.</p></li>
		<li><p><em>The blood type most often requested by hospitals is type O</p></li>
		<li><p><em>Although an estimated 38 percent of the U.S. population is eligible to donate 
		blood at any given time,<br> less than 10 percent of that eligible population actually do each year.</p></li>
		<li><p><em>Nearly 7% of the body weight of a human is made up of blood.</p></li>
		<li><p><em> The average volume of blood present in an adult male body is 5.6 liters while <br>
		an adult female body contains 4.5 liters of blood on an average.</p></li>
		<li><p><em>Type O negative blood (red cells) can be transfused to patients of all blood types. <br>It is always in great demand and often in short supply.</p></li>
		<li><p><em>Blood makes up around 7% of the weight of a human body.</p></li>
		<li><p><em>Every two seconds, someone in this world will need blood.</p></li>
		<li><p><em>The amount of fluid lost when donating blood is actually replaced by our body within a few hours.</p></li>
		<li><p><em>An adult body has 100,000 kilometers or 60,000 miles of blood vessels running throughout<br> the body.</p></li>
		<li><p><em>Average blood pressure will always vary from one person to another despite the<br> fact that standard considered BP is 112/64 mmHg.</p></li>
	   </ol>
	
   </div>

{% endblock %}